<footer class="main-footer">
  <div class="container text-center">
    <div class="row align-items-center">
      <div class="col">
        <div class="campo-info">
          <ul class="nav-itens">
            <li class="links-btn"><a routerLink="">Menu</a></li>
            <li class="links-btn"><a routerLink="sobre">Sobre</a></li>
            <li class="links-btn"><a routerLink="contato">Contato</a></li>
          </ul>
        </div>
      </div>
      <div class="col">
        <div class="campo-info">
          <h2 class="title-footer">Entre em contato</h2>
          <p>Email: essygames@suporte.com</p>
          <p>Whatsaap: (21) 40028922</p>
        </div>
      </div>
      <div class="col">
        <div class="campo-info">
          <h2 class="title-footer">Sobre Nós</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore
            magnam accusantium, dolorum voluptas dolorem, aliquam fuga
            recusandae deserunt mollitia atque excepturi cum corrupti natus,
            repellat temporibus ducimus eligendi blanditiis adipisci.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
