<div class="container-inicial">
  <h1>Jogos Populares</h1>
  <p>As melhores recomendações da história você encontrará aqui!</p>
  <div class="container text-center">
    <div class="row align-items-left">
      <div class="col" *ngFor="let game of dbGames">
        <div class="games-content">
          <img src="{{ game.imgame }}" alt="" class="img-game" />
          <p class="name-game">Nome: {{ game.nome }}</p>
          <p class="descricao">Descrição: {{ game.descricao }}</p>
        </div>
      </div>
      <!-- <div class="col">One of three columns</div>
      <div class="col">One of three columns</div> -->
    </div>
  </div>
</div>
